<h1>Sign In:</h1>

<!-- These are not showing up - why? -->
<% if @error %>
  <div id="errors">
	<%= @error %>
  </div>
<% end %>

<form class= "login" action="/sessions" method="post">
	<label for="username">Username:</label>
	<input type="text" name="username" placeholder="username" required><br>
	<label for="password">Password:</label>
	<input type="password" name="password_hash0" placeholder="password" required minlength="6"><br>
	<input type="submit" value="Login" class="button">
</form>