<div class="body-div">

<ul class="list-group col-xs-6 col-xs-offset-3" id="results">
<p><%= "Your search results:" %></p>
<% @artwork.each do |artwork| %>
	<a href="/artwork/<%= artwork.id %>"><li class="list-group-item result"><span class="center-text"><%= artwork.title %> by <%= artwork.artist %></span></li></a>
<% end %>
<% if @artwork.empty? %>
<li>No results found.</li>
	<% end %>
</ul>

</div>