/*GENERAL STYLE*/
.group:after {
  content: "";
  display: table;
  clear: both;
}

body { 
  background-color: #AAB3AB;
}

h1 {
  color: white;
  font-size: 7em;
}

h2 {
  margin-bottom: 25px;
  font-size: 3em;
}

p {
  margin-top: 20px;
}

.splash {
  overflow: auto;
  background: linear-gradient(rgba(0, 4, 49, 0.6), rgba(0, 0, 0, 0.6)), url('http://i.imgur.com/q7C56bF.gif') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.image-box {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 400px;
}

.splash-box {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 800px;
}

.avatar {
  max-height: 140px;
  margin: 25px;
}

.white {
  color: white;
}

.center {
  text-align: center;
}

.btn-outline {
  color: white;
  background-color: transparent;
  border-color: white;
}

.btn-outline:hover { 
    background-color: rgba(23, 84, 54, 0.81);
    color: white;
}

a:hover { 
    background-color: rgba(23, 84, 54, 0.81);
    color: white;
}

.login {
  padding-top: 10px;
}

.signup {
  margin: 15px;
}

.form-group {
    margin-bottom: 8px;
}



/*CARD FLIP STYLE*/

.flip {
    width: 450px;
    height: 450px;
    -webkit-perspective: 800;
    position: relative;
    margin: 10px auto;
}
.flip .card.flipped {
    -webkit-transform: rotatey(-180deg);
}
.flip .card {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
}
.flip .card .face {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    z-index: 2;
    text-align: center;
}

.flip .card .front {
    position: absolute;
    z-index: 1;
    background-color: #C4CBB7;
    border-radius: 25px;
    padding: 23px;
    color: white;
    cursor: pointer;
}
.flip .card .back {
    -webkit-transform: rotatey(-180deg);
    background-color: #C4CBB7;
    border-radius: 25px;
    padding: 23px;
    cursor: pointer;
}

