<h1>All Users</h1>
  <div class="row">
<% @users.each do |user| %>
  	<div class="col-sm-4 ">
  	<img class="avatar" src="<%= user.avatar %>">
	<p><a href="/users/<%= user.id %>"><%= user.username %></a></p>
  </div>
<% end %>
  </div>